{:full-name "kit/zerbait"
 :ns-name   "kit.zerbait"
 :sanitized "kit/zerbait"
 :name      "zerbait"
 :modules   {:root         "modules"
             :repositories [{:url  "https://github.com/kit-clj/modules.git"
                             :tag  "master"
                             :name "kit-modules"}]}}
